<h1>Ranking</h1>

<div class="loading-wrapper" *ngIf="loading">
  <app-loading></app-loading>
</div>

<cdk-virtual-scroll-viewport
  class="ranking"
  scrollWindow
  itemSize="50"
  *ngIf="!loading"
>
  <app-song
    *ngFor="let song of rankedSongs; let rank = index"
    [song]="song.song"
    [rank]="rank + 1"
  ></app-song>
</cdk-virtual-scroll-viewport>
<app-chooser
  *ngIf="this.song1 && this.song2 && !loading"
  ho
  [song1]="this.song1"
  [song2]="this.song2"
  (onChoose)="songChosen($event)"
></app-chooser>
