.ranking {
  display: grid;
  gap: 8px;
  overflow-y: auto;
  height: 800px;
}

:host {
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.loading-wrapper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
