.song {
    background: #14b8a6;
    border-radius: 0.5rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    padding: 0.5rem;
    color: #fff;

    display:flex;
    gap: 24px;
    align-items: center;

    .album {
        width: 100px;
        height: 100px;
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        .albumname {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .tracknumber{
            position:absolute;
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.3);
            right:0;
            bottom:0;
            margin:8px;
        }
    }

    .songinfo {
        position: relative;
        flex-grow: 1;
        .name {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .artists {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        .explicit {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0.5rem;
        }



        .duration {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .play-button {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s;
      }
      
      .play-button:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      
      .play-button:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%) scale(0.75);
      }
      
      .play-button:after {
        border-left: 25px solid rgba(255, 255, 255, 0.3);
      }
      
      
}
